
@{
    ViewBag.Title = "SISTEMA DE ALUMNOS - GESTION DE CONSULTAS - 2021";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            Nombre Usuario : @ViewBag.NombreUsuario
        </h3>
    </div>
    <div class="card-header">
        <h3 class="card-title">
            Id de Usuario: @ViewBag.IdUsuario
        </h3>
    </div>
</div>
@Html.ActionLink("Alumnos", "Index", "Alumnos");
@Html.ActionLink("Personal Docente / No Docente", "Index", "Personal");
@Html.ActionLink("Usuarios", "Index", "Usuarios");
@Html.ActionLink("Salir", "Index", "Login");

<script src="~/Scripts/PaginaPrincipal.js"></script>

